<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Projeto</title>
</head>
<body>
	<h1>Um título</h1>
	<p>Oi mundo!</p>
</body>
</html>
